---
import QuickFactItem from './QuickFactItem.astro';

const raw = await fetch(`${import.meta.env.SERVER_URL}/data/quick-facts.txt`)
const text = await raw.text()
const lines = text.split('\n').map(line => line.split(': ').map(sub => sub.trim()))
---
<table class="table-auto w-full mt-4 select-none">
    <colgroup>
        <col class="bg-bluom-select-tint" />
        <col class="w-[55%] md:w-[70%]" />
    </colgroup>
    {lines.map(line => line.length > 2 ?
        <QuickFactItem category={line[0]} value={line[1]} link={line[2]} /> :   <QuickFactItem category={line[0]} value={line[1]} />
    )}
</table>